/target/
/android/.gradle/
/android/build/
/android/app/build/
/android/keystore/
/android/local.properties
*.apk
*.ap_
*.dex
*.pem
*.key
.env
.DS_Store
*~
.superpowers/
*.sqlite
*.sqlite-journal
/world/
